*, *:before, *:after{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    z-index:1;
}

.logo{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    width: 50%;
    border: solid 2px white;
    border-radius: 50px;
}

.navbar-other{
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
    z-index: 10;
}

.nav-list{
    width: 50%;
    display: flex;
    align-items: center;
}

.nav-list li{
    list-style: none;
    padding: 20px;
}

.nav-list li a{
    text-decoration: none;
    color: white;
}
.nav-list li a:hover{
    text-decoration: none;
    color: grey;
}

.right-nav{
    /* background-color: blueviolet; */
    width: 50%;
    text-align: right;
    padding: 20px;
}

#search {
    padding: 5px;
    font-size: 17px;
    /* border: 2px solid grey; */
    border-radius: 9px;
}

.background{
    background: rgba(0, 0, 0, 1) url('../images/cityline.jpg');
    background-size: cover;
    background-blend-mode: darken;
}

.firstSection{
    height: 100vh;
}

.box-main{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    max-width: 50%;
    margin: auto;
    height: 70%;

}

.firstHalf{
    width: 80%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.secondHalf{
    width: 30%;

}

.secondHalf img{
    width: 150%;
    border: 4px solid white;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-right: 10px;
    margin-left: 10px;

}

.big-text{
    font-size: 40px;
    padding-bottom: 10px;

}

.text-small{
    font-size: 18px;
    padding-bottom: 10px;

}

.btn-other{
    padding: 8px !important;
    margin: 7px 3px !important;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}

.btn-sm-other{
    padding: 6px 10px;
    vertical-align: middle;
    
}

.section{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    z-index:1;
}

.section-left{
    flex-direction: row-reverse;
}

.paras{
    padding: 65px;
}

.thumbnail img{
    width: 250px;
    border-radius: 26px;
    border: 2px solid black;
}

.contact-other{
    background-color: rgba(0, 0, 0, 1);
    height: 90vh;
    color: white;
    padding: 30px;
    font-size: 20px;
}


.text-center{
    text-align: center;
    padding: 30px;
}

.form-other{
    max-width: 344px;
    margin: auto;
}

.form-input-other{
    width: 100%;
    padding: 7px;
    border: 2px solid grey;
    border-radius: 6px;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
}
.logo-media img{
    display: none;
    width: 50%;
    border: solid 2px white;
    border-radius: 50px;
}
.logo-media{
    display: none;
    width: 20%;
    position: absolute;
    top: 20%;
    left: 5%;
}
.button-other{
    display: flex;
}
.btn-button-other{
    margin: 30px 30px 0 0;
}

.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 5%;
    top: 15px;

}

/* slideshow */
 .slideshow-container {
    position: relative;
    margin: auto;
    width:auto;/*maintain aspect ratio*/
    max-width:500px;
}
/* The dots/bullets/indicators */
.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
img {
    vertical-align: middle;
}
/* slideshow */

.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 5px 3px;
}
.textarea{
    max-width: 10% !important;
}
  /* about us */
.about{
    background-color: aliceblue;
    font-size: 20px;
}
.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
  }
  
  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
  }
  
  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  /* about us end */
/* product */
.ratings i {
    font-size: 16px;
    color: red
}

.strike-text {
    color: red;
    text-decoration: line-through
}

.product-image {
    width: 100%
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: blue;
    border-radius: 50%;
    display: inline-block
}

.spec-1 {
    color: #938787;
    font-size: 15px
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}

/* product */
/* social media */

.icon-bar {
    position: fixed;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9;
  }
  
  /* Style the icon bar links */
  .icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
  }
  
  /* Style the social media icons with color, if you want */
  .icon-bar a:hover {
    background-color: #000;
  }

  .whatsapp {
    background: #25D366;
    color: white;
  }
  
  .instagram {
    background: #8a3ab9;
    color: white;
  }
  
  .youtube {
    background: #bb0000;
    color: white;
  }

/* Social media end */

@media only screen and (max-width: 1024px){
    .nav-list{
        flex-direction: column;
    }
    .navbar-other{
        flex-direction: column;
        transition: all 0.3s ease-out;
        height: 450px;
    }
    .box-main{
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .secondHalf img{
        width: 75%;
        border: 4px solid white;
        border-radius: 150px;
        margin-bottom: 50px;

    }
    .right-nav{
        text-align: center;
    }

    .burger{
        display: block;
    }
    .h-nav{
        height: 65px;
    }
    .v-class{
        opacity: 0;
    }
    .section{
        flex-direction: column-reverse;
        margin-top: 50px;
    }
    .footer{
        padding: 10px;
    }
    .paras{
        padding: 20px;
    }
    .logo img{
        width: 26%;
    }
    #search{
        width: 100%;
    }
    .logo-media img{
        display: block;
        width: 50%;
        border: solid 2px white;
        border-radius: 50px;
    }
    .logo-media{
        display: block;
        width: 20%;
        position: absolute;
        top: 20%;
        left: 5%;
    }
    

}